#wholePage {
    position: relative;
    width: 30%;
margin: auto;
    text-align: center;
}

body {
    background-color: powderblue;
}

#writeSign {
    font-family: "Times New Roman";
    font-size: 24px;
}
#message {
    font-family: "Times New Roman";
    font-size: 16px;
}

